[submodule "road-runner-lib"]
	path = road-runner-lib
	url = https://github.com/wangxdflight/road-runner.git
	branch = master3
[submodule "DogeCVLib"]
	path = DogeCVLib
	url = https://github.com/wangxdflight/DogeCV.git
[submodule "easy_opencv_lib"]
	path = easy_opencv_lib
	url = https://github.com/FTCclueless/EasyOpenCV.git
[submodule "OpenCV-Repackaged"]
	path = OpenCV-Repackaged
	url = https://github.com/OpenFTC/OpenCV-Repackaged.git
